/* add css module styles here (optional) */

.editable * {
  outline: none;
}

.editable:focus {
  outline: none;
}

.editor {
  ul, ol {
    padding-left: 0;
    list-style-position: inside;
  }

  * {
    margin: 0;
  }
}

.shadow {
  box-shadow: -3px 8px 16px rgba(160, 160, 160, 0.16);
}